body {
  font-family:"Roboto", Arial, sans-serif;
  margin:0 auto;
  text-align:center;
  margin-top:50px;
  color:#FFF;
  text-shadow:-1px -1px #333;
  background:#333;
}

h1 {
  font-weight:normal;
}

.turn {
  margin-bottom:10px;
}

table {
  border-collapse:collapse;
  width:150px;
  margin:0 auto;
}

td {
  width:50px;
  height:50px;
  border:1px solid #555;
  cursor:pointer;
}

td::before {
  font-size:1.5em;
  line-height:1;
}

td.cross::after {
  content:"x";
  color:red;
}

td.circle::after {
  content:"o";
  color:green;
}

.hidden {
  display: none;
}

.reset {
  background:#555;
  border:1px solid #333;
  padding:5px 10px;
  color:#FFF;
  cursor:pointer;
  font-family:"Roboto", Arial, sans-serif;
  text-transform:uppercase;
}

li {
  list-style-type: none;
}

ul {
  list-style-type: none;
}

.hover {
  opacity:0.8;
}
